*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    width: 100%;
    height: 70px;
    padding: 8px 73px;
    display: flex;
    align-items: center;
}

.btn-inp{
    display: flex;
    align-items: center;
}

.inp{
    background-color: rgb(208, 200, 200);
    border-radius: 5px;
    padding: 6px;
    display: flex;
    align-items: center;
}

input{
    background-color: rgb(208, 200, 200);
    border: none;
    outline: none;
}

.navbtn{
    display: flex;
    align-items: center;
}

.btn-inp{
   display: flex;
   margin-right: 600px;
   margin-left: 52px;
}

.btn-inp button{
    padding: 2px;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    margin-right: 20px;
    background-color: rgb(136, 136, 233);
    color: white;
    border: none;
}

ul{
    padding: 0px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

li{
    display: flex;
    align-items: center; 
 
}

i{
    margin: 0px 9px;
}

.sidebar{
    display: flex;
    height: 50%;
    margin-top: 50px;
    font-size: 25px;
    text-decoration: none;
    list-style: none;
}

.mijozlar{
    background-color: rgb(136, 136, 233);
    border-radius: 5px;
    color: white;
}

.logo{
    display: block;
    justify-content: start;
    margin: 0px 10px;
}

.jadval{
    width: 100%;
    height:90vh;
    background-color: #E2E2E2;
}

.yuqori{
    width: 100%;
    height: 10%;
    display: flex;
    padding: 0px 86px;
    justify-content: space-between;
    align-items: center;
}

.qator1{
    display: flex;
    align-items: center;
}

.qator1icon{
    margin: 0px 50px;
}

.tabletsa{
    width: 90%;
    height: 83%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 5px;
}

.one{
    background-color: blue;
    padding: 4px 15px;
    color: white;
    border-radius: 5px;
}

.qator2{
    display: flex;
    justify-content: ;
}

li:hover{
    background-color: rgb(136, 136, 233);
    color: white;
    border-radius: 5px;
}

table th{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
}

table tr:nth-child(even) {
    background-color: #7dccfa86;
  }

table{
    border-collapse: collapse;
    width: 100%;
    font-size: 23px;
    text-align: center;

}

table td{
    border-right: 1px solid;
}



.mablag{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 60px;
    border: none;
}

.click{
    width: 89px;
    height: 40px;
    display: flex;
    font-size: 17px;
    align-items: center;
}

.bell-img{
    display: flex;
    align-items: center;
}